$width: 400px;
$height: 400px;

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);

* {
	box-sizing: border-box;
}

html {
	background: #111 url(https://codepen.io/images/classy_fabric.png);
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
	padding: 20px;
}

#countdown {
	height: $height;
	width: $width;
	margin: 0 auto;
	position: relative;

	.timer {
		width: 100px;
		height: 100px;
		overflow: hidden;
		position: absolute;
		border-radius: 50%;

		&:after {
			height: $height / 5;
			width: $width / 5;
			left: 10px;
			top: 10px;
			position: absolute;
			background: #111 url(https://codepen.io/images/classy_fabric.png);
			border-radius: 50%;
			content: "";
			display: block;
		}

		.hand {
			float: left;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 50%;

			&:first-child {
				transform: rotate(180deg);
			}

			span {
				border: 50px solid rgba(0, 255, 255, .4);
				border-bottom-color: transparent;
				border-left-color: transparent;
				border-radius: 50%;
				display: block;
				height: 0;
				position: absolute;
				right: 0;
				top: 0;
				transform: rotate(225deg);
				width: 0;
				animation-duration: 4s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			&:first-child span {
				animation-name: spin1;
			}

			&:last-child span {
				animation-name: spin2;
			}
		}

		&.hour {
			background: rgba(0, 0, 0, .3);
			height: $height;
			width: $width;
			left: 0;
			top: 0;

			&:after {
				height: $height - ($height / 10);
				width: $width - ($width / 10);
				left: $width / 20;
				top: $height / 20;
			}

			.hand span {
				animation-duration: 3600s;
				border-top-color: rgba(255, 0, 255, .4);
				border-right-color: rgba(255, 0, 255, .4);
				border-width: 200px;
			}
		}

		&.minute {
			width: 350px;
			height: 350px;
			left: 25px;
			top: 25px;
			background: rgba(0, 0, 0, .2);

			&:after {
				height: 310px;
				left: 20px;
				width: 310px;
				top: 20px;
			}

			.hand span {
				animation-duration: 60s;
				border-top-color: rgba(0, 255, 255, .4);
				border-right-color: rgba(0, 255, 255, .4);
				border-width: 175px;
			}
		}
	}

	.face {
		background: rgba(0, 0, 0, .1);
		border-radius: 50%;
		height: 296px;
		left: 52px;
		padding: 165px 40px 0;
		position: absolute;
		width: 296px;
		text-align: center;
		top: 52px;

		p {
			border-radius: 20px;
			font-size: 76px;
			font-weight: 400;
			position: absolute;
			top: 17px;
			width: 260px;
			left: 20px;
		}
	}
}

@keyframes spin1 {
	0% {
		transform: rotate(225deg);
	}
	50% {
		transform: rotate(225deg);
	}
	100% {
		transform: rotate(405deg);
	}
}

@keyframes spin2 {
	0% {
		transform: rotate(225deg);
	}
	50% {
		transform: rotate(405deg);
	}
	100% {
		transform: rotate(405deg);
	}
}
